/HolaMundoJavaEE/nbproject/private/
/HolaMundoJavaEE/build/
/HolaMundoEJB/nbproject/
/HolaMundoEJB/target/
/mavenproject1/sga-jee/target/
/mavenproject1/sga-jee/nbproject/
/holamundo-jpa/nbproject/
/holamundo-jpa/target/
/SgaWeb/nbproject/private/
/SgaWeb/build/
/SgaJeeWen/nbproject/private/
/SgaJeeWeb/nbproject/private/
/SgaJeeWeb/build/
/SgaJeeWeb/dist/
/sumaws/target/
/ClienteSumaWS/target/
/SgaJeeWeb2/nbproject/private/
/SgaJeeWeb2/build/
/ClienteSgaWS/target/
/SgaJeeWeb3/nbproject/private/
/SgaJeeWeb3/build/
/ClienteSgaRestWS/target/
/SgaJeeWeb4/nbproject/private/
/SgaJeeWeb4/build/
/ClienteEJBSeguridad/target/